html,body {
	background: black;
	font-family: 'Open Sans',"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .92em;
	color: #fff;
	line-height: 1.5;
	width: 100%;
}



html {}
h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 25px;
}

}
a:visited {
	color:inherit;
}
.container {
	position: center;
}

.video {

    position:relative;
    left:50%;
    width:720px;
    height:405px;
    margin-left: -360px;
    margin-top: 12%;
}

video{
	top:0;
	position: absolute;
	width:720px;
    height:405px;
}

.modal{
	top:0; 
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;
	padding-top: 120px;
}

/*------------HEADER------------*/

header {
	text-align: center;
}


#main-nav {
	margin: 10px 0;
}
#main-nav ul {
	margin-bottom: 0;
	text-align:center;
}

#main-nav ul li {
	display: inline;
}
#main-nav ul li.border {
	border-right: 1px solid #fff;
}
#main-nav ul li a {
	text-decoration: none;
	color: #fff;
	margin: 12px;
	font-size: 20px;
}
header  {
	margin-top: 5%;
}

/*------------HOME------------*/
#home {
}

.section{
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}
.section h1{
	width: 28%;
	padding-left: 4.3%;
	padding-top: 4vw;
}
.section p {
	width: 28%;
	padding-left: 4.3%;
	float:left;
}

/*------------About------------*/

#about{
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.section img {
	width: 25%;
	margin: 4.3%;
}

.section h4 {
	font-family: 300;
	font-size: .85em;
	position: center;
	padding-left: 45px;
	padding-right: 30px;
}

.artists img{
	float:left;
	width: 12%;
	margin: 1%;
	padding-left: 1%; 
	border-radius:75%;
	padding-bottom: 2%;
	
}

/*------------About the Director------------*/

#director {
	color: #fff;
	padding: 100;
}

 .section p img {
	width: 100%;
	margin: 4%;
	padding-right: 5%; 
	border-radius:65%;
}

/*------------DONATE------------*/

#donate {
	color: white;
	padding: 30;
	padding-top: 2%;
	padding-bottom: 2%;
	position: center;
}

/*------------SPONSORS------------*/

#sponsor {
	color: white;
	text-align: center;
}
.sponsor {
	display: inline;
	width: 15%;
}

/*------------FOOTER------------*/

footer {
	float: left;
	position: center;
}

footer p {

}

footer a{
	color: white;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}


@media screen and (min-width: 321px) and (max-width: 768px){
	.section p {
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}
	.section h3{
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}

	.sponsor {
	  width: 40%;
	}
}

@media screen and (max-width: 320px) {
	.sponsor img {
	  width: 80%;

	}
}
