/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
html,body {
	background: black;
	font-family: 'Open Sans',"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .92em;
	color: #fff;
	line-height: 1.5;
}



html {}
h2{
	font-family: 'sanchez_slabregular', serif;
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 25px;
}

}
a:visited {
	color:inherit;
}
.container {
}

.video {

    position:relative;
    left:50%;
    width:720px;
    height:405px;
    margin-left: -360px;
    margin-top: 12%;
}

video{
	top:0;
	position: absolute;
	width:720px;
    height:405px;
}

.modal{
	top:0; 
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	text-align: center;
	padding-top: 120px;
}

/*------------HEADER------------*/

header {
	text-align: center;
}


#main-nav {
	margin: 10px 0;
}
#main-nav ul {
	margin-bottom: 0;
	text-align:center;
}

#main-nav ul li {
	display: inline;
}
#main-nav ul li.border {
	border-right: 1px solid #fff;
}
#main-nav ul li a {
	text-decoration: none;
	color: #fff;
	margin: 12px;
	font-size: 20px;
}
header  {
	margin-top: 5%;
}

/*------------HOME------------*/
#home {
}

.section{
	width: 100%;
}
.section h1{
	width: 28%;
	padding-left: 4.3%;
	padding-top: 4vw;
}
.section p {
	width: 28%;
	padding-left: 4.3%;
	float:left;
}

/*------------About------------*/

#about{
	color: white;
	padding: 50;
}

.section img {
	width: 28%;
	margin: 4.3%;
	float:left;
}

.section h4 {
	font-family: 600;
	font-size: .7em;
	padding:30px;
}

/*------------About the Director------------*/

#director {
	color: white;
	padding: 100;
}

/*------------DONATE------------*/

#donate {
	color: white;
	padding: 50;
}



/*------------FOOTER------------*/

footer {
	background: #000;
	color: white;
	padding: 30px 0 50px 0;
	font-size: 14px;
}
footer p {
	margin: 0 0 10px 0;
}
footer a{
	color: white;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}

